.App {
  margin: 0px 15%;
}

/*.homeWrapper {*/
  /*border-bottom: 1px solid #d9d7dc;*/
  /*padding-bottom: 100px;*/
/*}*/

.headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nameWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menuWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.name {
  padding-left: 25px;
  font-family: 'News Cycle', sans-serif;
  font-weight: 600;
  color: #5a585d;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.menu {
  padding: 0px 25px;
  font-family: 'News Cycle', sans-serif;
  color: #5a585d;
  letter-spacing: 1.5px;
  font-size: 18px;
}

.linksWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 35px;
  color: #9e9ca1;
  padding-right: 20px;
}

.aboutText {
  font-family: 'News Cycle', sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #5a585d;
  width: 50%;
  line-height: 31px;
}

/*projects*/

.projectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.picture {
}

.imageLong {
  width: 450px;
}

.imageTall {
  width: 320px;
}

.border {
  height: 1px;
  width: 100%;
  background-color: #bcb5bf;
  margin-top: 150px;
  margin-bottom: 80px;
}